DATABASE_URL="mysql://root:@localhost:3306/erp_crm"
JWT_SECRET="seu_jwt_secret_super_seguro_change_in_production_12345"
PORT=3002
NODE_ENV=development
GEMINI_API_KEY="SUA_CHAVE_AQUI"
FRONTEND_URL="http://localhost:5173"
ADMIN_EMAIL="admin@admin.com"
ADMIN_PASSWORD="admin"
